@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'JetBrains Mono', monospace;
  transition: background-color 0.3s;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2a2e3d;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3a3f52;
}
